<nav class="navbar">
    <div class="container navbar-container">
        <a href="/" class="logo">Patrick<span>Villamer</span></a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create Blog</a></li>
            <li><a href="#" class="btn">Get Started</a></li>
        </ul>
    </div>
</nav>